<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919449896779-2kg8d35r8gqmur7go51p6lqik2ipnis8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919449896779-2kg8d35r8gqmur7go51p6lqik2ipnis8</string>
	<key>API_KEY</key>
	<string>AIzaSyB5LoZNrOUdqaktOnmDo6ukkhaW5xWcdY8</string>
	<key>GCM_SENDER_ID</key>
	<string>919449896779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jetart.FIreBaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-35978</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-35978.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919449896779:ios:77569ff3988659566e0ace</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-35978.firebaseio.com</string>
</dict>
</plist>