<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804565838266-9pkeqrpvb5suo5745rrkkel3r3a6kpj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804565838266-9pkeqrpvb5suo5745rrkkel3r3a6kpj3</string>
	<key>API_KEY</key>
	<string>AIzaSyBopupKH-lWNCn9e1pZi0H4HGGRGK1YqXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>804565838266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jetart.Instagram</string>
	<key>PROJECT_ID</key>
	<string>appios-552dc</string>
	<key>STORAGE_BUCKET</key>
	<string>appios-552dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804565838266:ios:50ddbd3b112348fb32d583</string>
	<key>DATABASE_URL</key>
	<string>https://appios-552dc.firebaseio.com</string>
</dict>
</plist>